.projects-list {
    margin-top: 80px;
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    gap: 20px;
}



.project {
    min-width: 10rem;
    flex: 1;

    display: flex;
    flex-direction: column;

    border-radius: var(--secondary-border-radius);
}

.project * {
    padding: 15px;
}

.project-logo, .project-title {
    grid-row: 1;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
}

.project-description {
    overflow: hidden;

    grid-row: 2;
    width: 100%;
}

.project-link {
    grid-row: 3
}